// Roboto Light
@font-face {
    font-family: 'Roboto Light';
    src: url("../font/Roboto/Roboto-Light.ttf") format('truetype');
    font-display: swap;
}

// Roboto Medium
@font-face {
    font-family: 'Roboto Medium';
    src: url("../font/Roboto/Roboto-Medium.ttf") format('truetype');
    font-display: swap;
}

// Playfair Display Regular
@font-face {
    font-family: 'Playfair Display Regular';
    src: url("../font/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format('truetype');
    font-display: swap;
}

// Playfair Display Bold
@font-face {
    font-family: 'Playfair Display Bold';
    src: url("../font/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format('truetype');
    font-display: swap;
}