/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    color: inherit;
    font-size: inherit;
}

span {
    font-family: inherit !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    list-style-position: inside;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}

input,
textarea {
    width: 100%;
    height: 100%;
    padding: 1.4rem 1.6rem;
    background: none;
    border: 1.5px solid var(--clr-white);
    color: var(--clr-white) !important;
    line-height: 1.5;
    transform: scale(1);
    transition: transform .3s ease-in-out;

    font: {
        family: 'Roboto Light', sans-serif !important;
    }

    &::-webkit-input-placeholder {
        font: {
            size: 1.4rem !important;
        }

        color: inherit;
    }

    &::-moz-placeholder {
        font: {
            size: 1.4rem !important;
        }

        color: inherit;
    }

    &:-ms-input-placeholder {
        font: {
            size: 1.4rem !important;
        }

        color: inherit;
    }

    &::-ms-input-placeholder {
        font: {
            size: 1.4rem !important;
        }

        color: inherit;
    }

    &::placeholder {
        font: {
            size: 1.4rem !important;
        }

        color: inherit;
    }

    &:focus {
        border: 2px solid var(--clr-primary);
        transform: scale(1.005);
        transition: transform .3s ease-in-out;
    }
}

textarea {
    min-height: 9.6rem;
    resize: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}