.footer {
    @include marginSet;

    &__office {
        width: 100%;
        padding: 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: {
            color: var(--color-background-dark-light);
        }

        color: var(--color-theme-white);

        img {
            margin-bottom: 0.8rem;
            height: 23rem;
        }

        p {
            font: {
                size: 1.4rem;
            }

            text: {
                align: center;
            }
        }
    }

    &__developer {
        margin: 0;
        padding: 1.6rem 0;
        width: 100%;

        background: {
            color: var(--color-background-dark);
        }

        color: var(--color-theme-white);

        font: {
            size: 1.4rem;
        }

        a {
            font: {
                family: 'Roboto Medium', sans-serif !important;
            }

            transition: all 300ms ease-in-out;


            &:hover {
                color: var(--color-theme-primary);
                transition: all 300ms ease-in-out;
            }
        }

        &__validator {
            a {
                display: flex;
                align-items: center;

                i {
                    margin-right: 0.8rem;
                }
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}