@use 'breakpoint'as *;

@mixin mq($key) {

    $size: map-get($breakpoints, $key);

    @if $breakpoints==x-small {
        @media only screen and (max-width: $size) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width: $size) {
            @content;
        }
    }

}

@mixin breakpoint($key) {
    $size: map-get($breakpoints, $key);

    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin margin {
    margin: 0;
    padding: 10rem 0;
}

@mixin marginSet {
    margin: 0;
    padding: 0;
}