@use '../../abstracts/'as *;

.projectSteps {
    margin-top: -3em;
    background: transparent linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    overflow: hidden;

    &__header {
        margin: 0;
        padding: 12rem 0;
        opacity: 0;
        transition: transform 300ms ease-in-out;

        h2 {
            padding-left: 2rem;

            font: {
                family: 'Playfair Display Regular', serif;
                size: 6rem;
            }

            line-height: 1.5;
            border-left: 5px solid var(--clr-primary);

            @include breakpoint(xl) {
                font-size: 5.4rem;
            }

            @include breakpoint(md) {
                font-size: 4rem;
            }
        }
    }

    &__content {

        &__step {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @include breakpoint(md) {
                margin-bottom: 3.2rem !important;
                align-items: stretch;
            }

            @include breakpoint(ms) {
                flex-direction: column;
            }

            &:not(:first-child) {
                margin-top: -5rem;

                @include breakpoint(xl) {
                    margin-top: 0;
                }
            }


            &:nth-child(odd) {

                &>div[class="projectSteps__content__step__body"] {
                    margin-left: -2rem;

                    @include breakpoint(md) {
                        margin-left: 0;
                    }
                }
            }

            &:nth-child(even) {
                &>div[class="projectSteps__content__step__body"] {
                    margin-right: -2rem;
                    order: -1;

                    @include breakpoint(md) {
                        margin-right: 0;
                    }

                    @include breakpoint(ms) {
                        order: 0;
                    }
                }
            }

            &:last-child {

                div[class="projectSteps__content__step__image"] {
                    padding: 0;

                    &::after {
                        display: none;
                    }
                }

                div[class="projectSteps__content__step__body"] {
                    width: calc(60% + 12rem);
                    margin-right: -12rem;

                    @include breakpoint(md) {
                        width: 60%;
                        margin-right: 0;
                    }

                    @include breakpoint(ms) {
                        width: inherit;
                    }
                }

                header[class="projectSteps__content__step__body__header"] {
                    display: none;
                }
            }

            &__image {
                position: relative;
                margin: 0;
                padding: 4rem;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: transform 300ms ease-in-out;

                @include breakpoint(md) {
                    padding: 3rem;
                }

                @include breakpoint(ms) {
                    width: 100%;
                    height: 25rem;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    background: {
                        image: var(--background);
                        size: cover;
                        position: center;
                    }

                    opacity: .1;
                }

                picture {
                    height: 100%;
                }


                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    object: {
                        fit: cover;
                        position: center;
                    }
                }
            }

            &__body {
                width: calc(60% + 2rem);
                padding: 4.8rem;
                background-color: var(--clr-dark);
                color: var(--clr-white);
                z-index: 1;
                opacity: 0;
                transition: transform 300ms ease-in-out;

                @include breakpoint(md) {
                    width: 60%;
                }

                @include breakpoint(ms) {
                    width: 100%;
                }

                &__header {
                    margin-bottom: 2rem;

                    h3 {
                        font: {
                            family: 'Playfair Display Regular', serif;
                            size: 3.8rem;
                        }

                        line-height: 1;

                        @include breakpoint(md) {
                            font-size: 3.2rem;
                        }

                        @include breakpoint(ms) {
                            text-align: center;
                            font-size: 2.8rem;
                            line-height: 1.5;
                        }
                    }

                    hr {
                        margin: 1.2rem auto 0 0;
                        width: 4.8rem;
                        border: 1.5px solid var(--clr-white);
                        background-color: var(--clr-white);

                        @include breakpoint(ms) {
                            margin: 1.2rem auto 0 auto;
                        }
                    }
                }

                &__container {
                    font-size: 1.8rem;

                    text: {
                        align: justify;
                    }

                    @include breakpoint(md) {
                        font-size: 1.6rem;
                    }
                }
            }

        }

    }
}

.projectSteps--animation {

    .projectSteps__header {
        -webkit-animation: fadeInTopHeaderSteps 700ms linear 200ms 1 forwards;
        animation: fadeInTopHeaderSteps 700ms linear 200ms 1 forwards;
    }

    .projectSteps__content {
        &__step {
            &:nth-child(odd) {
                &>div[class="projectSteps__content__step__image"] {

                    -webkit-animation: fadeInRightImageStepsOdd 700ms linear 800ms 1 forwards;

                    animation: fadeInRightImageStepsOdd 700ms linear 800ms 1 forwards;
                }
            }

            &:nth-child(odd) {
                &>div[class="projectSteps__content__step__body"] {
                    -webkit-animation: fadeInLeftImageStepsEven 700ms linear 1300ms 1 forwards;
                    animation: fadeInLeftImageStepsEven 700ms linear 1300ms 1 forwards;
                }
            }

            &:nth-child(even) {
                &>div[class="projectSteps__content__step__image"] {
                    -webkit-animation: fadeInLeftImageStepsEven 700ms linear 800ms 1 forwards;
                    animation: fadeInLeftImageStepsEven 700ms linear 800ms 1 forwards;
                }

                &>div[class="projectSteps__content__step__body"] {
                    -webkit-animation: fadeInRightImageStepsOdd 700ms linear 1300ms 1 forwards;
                    animation: fadeInRightImageStepsOdd 700ms linear 1300ms 1 forwards;
                }
            }

            &__body {

                &__header,
                &__container {
                    opacity: 0;
                    transition: all 300ms ease-in-out;
                    -webkit-animation: fadeInTopHeaderSteps 700ms linear 2100ms 1 forwards;
                    animation: fadeInTopHeaderSteps 700ms linear 2100ms 1 forwards;
                }
            }
        }
    }

}

@-webkit-keyframes fadeInTopHeaderSteps {
    from {
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTopHeaderSteps {
    from {
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInRightImageStepsOdd {
    from {
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRightImageStepsOdd {
    from {
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInLeftImageStepsEven {
    from {
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeftImageStepsEven {
    from {
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}