@use "../abstracts/"as *;

.header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 1.6rem 0;
    z-index: 1000;
    background: transparent;

    &__navbar {
        margin: 0 auto;
        width: calc(100% - 16rem);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(xl) {
            width: 100%;
            padding: 0 3rem;
        }

        img {
            width: 20rem;
            transition: width 300ms ease-in-out;

            @include breakpoint(md) {
                width: 18rem;
            }

        }

        &__section {
            overflow: hidden;

            &__toggle {
                cursor: pointer;

                &:hover {
                    .header__navbar__section__toggle__bar {
                        &:nth-child(2) {
                            transform: scaleX(1);
                            transition: transform 300ms ease-in-out;
                        }
                    }
                }

                &__bar {
                    width: 3.6rem;
                    height: 4px;

                    background: {
                        color: var(--clr-white);
                    }

                    &:not(:last-child) {
                        margin-bottom: 0.8rem;
                    }

                    &:nth-child(1) {
                        transform-origin: center;
                        transform: rotate(-45) translate(0);
                        transition: transform 300ms ease-in-out;
                    }

                    &:nth-child(2) {
                        opacity: 1;
                        transform-origin: right;
                        transform: scaleX(.66);
                        transition: transform 300ms ease-in-out;
                        transition-delay: 200ms;
                    }

                    &:nth-child(3) {
                        transform-origin: center;
                        transform: rotate(45) translate(0);
                        transition: transform 300ms ease-in-out;
                    }
                }
            }

            &__container {
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--clr-dark);
                color: var(--clr-white);
                transform-origin: right;
                transform: scaleX(0);
                transition-duration: 300ms;
                overflow: hidden;

                &__nav {
                    ul {
                        li {
                            &:not(:last-child) {
                                margin-bottom: 4.8rem;
                            }

                            font: {
                                family: 'Playfair Display Bold', serif !important;
                                size: 2.2rem;
                            }

                            line-height: 1;

                            text-transform: uppercase;

                            a {
                                color: var(--clr-white);
                                transition: color 300ms ease-in-out;

                                &:hover {
                                    color: var(--clr-primary);
                                    transition: color 300ms ease-in-out;
                                }
                            }
                        }
                    }
                }

                &__socialMedia {
                    position: absolute;
                    bottom: 2rem;
                    right: 2rem;

                    ul {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font: {
                            size: 4rem;
                        }

                        li {
                            &:first-child {
                                margin-right: 2.4rem;
                            }

                            a {
                                i {
                                    &::before {
                                        color: var(--clr-white);
                                        transition: color 300ms ease-in-out;
                                    }

                                    &:hover {

                                        &::before {
                                            color: var(--clr-primary);
                                            transition: color 300ms ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &--open {

            .header__navbar__section__toggle {
                position: absolute;
                top: 8rem;
                right: 8rem;
                z-index: 1001;

                @include breakpoint(ms) {
                    top: 8rem;
                    right: 5rem;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: transform 300ms ease-in-out;
                }

                &__bar {


                    &:nth-child(1) {
                        transform-origin: center;
                        transform: rotate(45deg) translate(.8rem, .8rem);
                        transition: transform 300ms ease-in-out;

                        @include breakpoint(ms) {
                            transform: rotate(45deg) translate(.9rem, .9rem);
                        }
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transition: opacity 300ms ease-in-out;
                    }

                    &:nth-child(3) {
                        transform-origin: center;
                        transform: rotate(-45deg) translate(.9rem, -.9rem);
                        transition: transform 300ms ease-in-out;
                    }
                }
            }

            .header__navbar__section__container {
                width: 30vw;
                transform: scaleX(1);
                transition: transform 300ms ease-in-out;

                @include breakpoint(xl) {
                    width: 40vw;
                }

                @include breakpoint(md) {
                    width: 45vw;
                }

                @include breakpoint(sm) {
                    width: 60vw;
                }

                @include breakpoint(ms) {
                    width: 90vw;
                }

                @include breakpoint(xsm) {
                    width: 92vw;
                }
            }
        }
    }
}

.header--active {

    background: {
        color: rgba(#171717, .9);
    }

    transition: background 300ms ease-in-out;

    .header__navbar {
        a {
            img {
                width: 11rem;
                transition: width 300ms ease-in-out;
            }
        }
    }
}