@use '../abstracts/'as *;

#whatsapp {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #34af23;
    opacity: 0;
    transition: background-color 300ms ease-in-out;
    -webkit-animation: fadeWhatsapp 700ms linear 3200ms 1 normal forwards;
    animation: fadeWhatsapp 700ms linear 3200ms 1 normal forwards;

    &:hover {
        background-color: darken(#34af23, 10%);
        transition: background-color 300ms ease-in-out;
    }

    a {
        @include marginSet;

        font: {
            size: 4rem;
        }

        color: var(--clr-white);
    }
}

@-webkit-keyframes fadeWhatsapp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeWhatsapp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}