@use "../abstracts/" as *;

#whatsapp {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #34af23;
    opacity: 0;
    transition: background-color 300ms ease-in-out;
    -webkit-animation: fadeWhatsapp 700ms linear 3200ms 1 normal forwards;
    animation: fadeWhatsapp 700ms linear 3200ms 1 normal forwards;
    cursor: pointer;

    &:hover {
        background-color: darken(#34af23, 10%);
        transition: background-color 300ms ease-in-out;
    }

    i {
        @include marginSet;

        font: {
            size: 4rem;
        }

        color: var(--clr-white);
    }
}

.whatsapp__button__container {
    display: none;
    gap: var(--gap);
    flex-direction: column;

    position: absolute;
    right: 0;
    bottom: 10rem;

    &--active {
        display: flex;
    }

    &__group {
        background: var(--clr-white);
        padding-left: 3rem;
        border-radius: 100vh;
        box-shadow: 0 0 15px rgba(#000, 0.2);
        outline: 2px solid var(--clr-primary);
        transition: all 300ms ease-in-out;

        &:hover {
            background: var(--clr-primary);

            a {
                span {
                    &:nth-child(1) {
                        color: var(--clr-white);
                    }
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--gap);

            span {
                &:nth-child(1) {
                    font-family: "Roboto Medium", sans-serif !important;
                    font-size: 1.8rem;
                    text-align: right;
                    color: var(--clr-primary);
                    transition: all 300ms ease-in-out;
                    flex-grow: 1;
                }

                &:nth-child(2) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 6rem;
                    height: 6rem;
                    background-color: var(--clr-primary);
                    border-radius: 100vh;
                }
            }
        }
    }
}

@-webkit-keyframes fadeWhatsapp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeWhatsapp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
